body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    border: 2px solid rgb(255, 217, 0);
    border-radius: 10px;
    height: 120px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#container > button{
    width: 100px;
    height: 100px;
    border-radius:50% ;
    cursor: pointer;
    border: none;
}
#rock{
    background: url("./images/rock.png");
    background-position: center;
    background-size: contain;
}
#paper{
    background: url("./images/paper.png");
    background-position: center;
    background-size: contain;
}
#scissors{
    background: url("./images/scissors.jpg");
    background-position: center;
    background-size: contain;
}

.hover{
    outline: 3px solid hsl(273, 98%, 41%);
}
